[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[scripts]
test = "pytest test -rA"
build = "python -m build"

[packages]
"ruamel.yaml" = "*"
test = "*"

[dev-packages]
build = "*"
pytest = "*"

[requires]
python_version = "3.8"
